[submodule "src/dependencies/glfw"]
	path = src/dependencies/glfw
	url = https://github.com/sofwerx/glfw.git
[submodule "src/dependencies/osi_clp"]
	path = src/dependencies/osi_clp
	url = https://github.com/sofwerx/osi_clp.git
[submodule "src/dependencies/cereal"]
	path = src/dependencies/cereal
	url = https://github.com/sofwerx/cereal.git
